/*
.DS_Store
!/.gitignore
!/.gitconfig
!/.zshrc
!/.zshrc.sh
!/README.md
!/.tmux.conf
!/install.sh
!/.gnupg/
!/.config/
!/.aria2/
!/bin/
!/test/
!/Calibre/
!/scripts/
!/secrets/
!/Brewfile
/bin/anycast
